[bumpversion]
version = "1.1.0"
commit = False
allow_dirty = True
current_version = 1.2.1

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"
